.slideshow{
    width: 800px;
    height: 900px;
    margin: auto;
}

.mySwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.mySwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width:480px) {
  .slideshow {
    width: 90%; 
    max-width: 800px; 
    height: 900px;
    margin: auto;
}
}